<style>
  img {
    display: block;
    width: 135px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Medico Logo" src="/assets/medico_logo_white.svg" width="135"  />
</a>
